[submodule "18"]
	path = 18
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "17"]
	path = 17
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "16"]
	path = 16
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "15"]
	path = 15
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "14"]
	path = 14
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "13"]
	path = 13
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "12"]
	path = 12
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "11"]
	path = 11
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "10"]
	path = 10
	url = https://github.com/jguenat/doodba-openupgrade-template.git
[submodule "9"]
	path = 9
	url = https://github.com/jguenat/doodba-openupgrade-template.git
